/* Breakpoints */
body {
  background-image: url(../assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(275, 100%, 97%);
  font-family: "Work Sans";
}
@media (min-width: 992px) {
  body {
    background-image: url(../assets/images/background-pattern-desktop.svg);
    background-size: contain;
  }
}
body .faq-content {
  box-shadow: 0 4px 50px -20px hsl(292, 16%, 49%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin: 40% 7%;
  padding: 7% 5% 5% 5%;
}
@media (min-width: 992px) {
  body .faq-content {
    margin: 10% 30%;
    padding: 3%;
  }
}
body .faq-content .faq-heading {
  display: flex;
  align-items: center;
  margin: 0 0 5% 0;
}
@media (min-width: 992px) {
  body .faq-content .faq-heading {
    display: flex;
    margin: 0 0 3% 0;
    align-items: center;
  }
}
@media (min-width: 992px) {
  body .faq-content .faq-heading .star {
    width: 35px;
    height: 41px;
  }
}
@media (min-width: 768px) {
  body .faq-content .faq-heading .star {
    width: 35px;
    height: 41px;
  }
}
body .faq-content .faq-heading h1 {
  color: hsl(292, 42%, 14%);
  font-weight: 700;
  font-size: 40px;
  margin-left: 5%;
}
@media (min-width: 992px) {
  body .faq-content .faq-heading h1 {
    font-size: 50px;
    margin-left: 5%;
  }
}
@media (min-width: 768px) {
  body .faq-content .faq-heading h1 {
    font-size: 50px;
    margin-left: 5%;
  }
}
@media (min-width: 992px) {
  body .faq-content .faq-container {
    margin-top: 5%;
  }
}
body .faq-content .faq-container .faq-list {
  display: flex;
  flex-direction: column;
}
body .faq-content .faq-container .faq-list .faq-single:not(:last-child):after {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  background: whitesmoke;
}
body .faq-content .faq-container .faq-list .faq-single .faq-box-question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 6% 0 6% 0;
}
@media (min-width: 992px) {
  body .faq-content .faq-container .faq-list .faq-single .faq-box-question {
    margin: 4% 0;
  }
}
body .faq-content .faq-container .faq-list .faq-single .faq-box-question h3 {
  color: hsl(292, 42%, 14%);
  font-weight: 600;
  max-width: 70%;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  body .faq-content .faq-container .faq-list .faq-single .faq-box-question h3 {
    font-size: 16px;
    min-width: 90%;
  }
}
@media (min-width: 768px) {
  body .faq-content .faq-container .faq-list .faq-single .faq-box-question h3 {
    max-width: 100%;
    font-weight: 600;
  }
}
body .faq-content .faq-container .faq-list .faq-single .faq-box-question h3:hover {
  cursor: pointer;
  color: #ad28eb;
}
@media (min-width: 992px) {
  body .faq-content .faq-container .faq-list .faq-single .faq-box-question .faq-icon {
    width: 25px;
    height: 26px;
  }
}
body .faq-content .faq-container .faq-list .faq-single .faq-box-question--path:hover {
  cursor: pointer;
}
body .faq-content .faq-container .faq-list .faq-single .faq-box-answer {
  display: none;
}
body .faq-content .faq-container .faq-list .faq-single .faq-box-answer p {
  margin: 7% 0 7% 0;
  color: hsl(292, 16%, 49%);
  font-weight: 400;
  font-size: 18px;
  max-width: 95%;
}
@media (min-width: 992px) {
  body .faq-content .faq-container .faq-list .faq-single .faq-box-answer p {
    margin: 5% 0 6% 0;
    font-size: 14px;
    max-width: 100%;
  }
}
body .attribution {
  display: none;
  margin: 40% 7% 0% 7%;
  padding: 7% 5% 0% 5%;
  font-size: small;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "Work Sans";
  src: local("Work Sans 700"), url(/Users/laurellx/Library/Fonts/WorkSans-VariableFont_wght.ttf), url(/Users/laurellx/Library/Fonts/WorkSans-Italic-VariableFont_wght);
  src: local("Work Sans 700"), url(/Users/laurellx/Library/Fonts/WorkSans-VariableFont_wght.ttf), url(/Users/laurellx/Library/Fonts/WorkSans-Italic-VariableFont_wght);
  src: local("Work Sans 400"), url(/Users/laurellx/Library/Fonts/WorkSans-VariableFont_wght.ttf), url(/Users/laurellx/Library/Fonts/WorkSans-Italic-VariableFont_wght);
}/*# sourceMappingURL=styles.css.map */